*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

.main-about{
    background-color: var(--content_background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .cv-image{
    height: 310px;
    width: 310px;
    border-radius: 30%;
} */

.text-field{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 1.5rem;
    width: 59rem;
    margin-bottom: 3rem;
}


.main-content-about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--content_text);
    flex: 1;
}

.main-content-about>h1{
    font-size: 3.5rem;
    margin: 3rem;
    transition-duration: 0.25s;
}
.main-content-about>h1:hover{
    color: #FF7315;
}

.resume-text{
    width: 59rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.link-cv{
    color: var(--content_text);
    transition-duration: 0.25s;
    font-size: 1.5rem;
}

.link-cv:hover{
    color: #FF7315;
    text-decoration: underline;
}

@media screen and (max-width: 56.25em) {
    .main-content-about>h1{
        font-size: 2.8rem;
        margin: 2.5rem;
    }
    .text-field{
        font-size: 1.5rem;
    }

    .resume-text{
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
    }
    
    .link-cv{
        color: var(--content_text);
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 37.5em) {
    .main-content-about>h1{
        font-size: 2.4rem;
        margin: 2.3rem;
    }
    .text-field{
        font-size: 1.3rem;
        width: 96vw;
        margin-bottom: 3rem;
    }

    .resume-text{
        margin-bottom: 2.3rem;
        font-size: 1.3rem;
        width: 96vw;
    }
    
    .link-cv{
        color: var(--content_text);
        font-size: 1.3rem;
    }

    .cv{
        width: 96vw;
    }
}