*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

.main-projects{
    background-color: var(--content_background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.projects-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.projects>h1{
    color: var(--content_title);
    font-size: 3.5rem;
    margin-top: 4rem;
    transition-duration: 0.25s;
}
.projects>h1:hover{
    color: #FF7315;
}

@media screen and (max-width: 56.25em) {
    .projects>h1{
        font-size: 2.8rem;
        margin-top: 3.5rem;
    }
    .projects-div{
        gap: 3rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 37.5em) {
    .projects>h1{
        font-size: 2.4rem;
        margin-top: 3.3rem;
    }
    .projects-div{
        gap: 2.4rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}