*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

/* :root{
    --orange: invert(45%) sepia(98%) saturate(1095%) hue-rotate(350deg) brightness(100%) contrast(101%);;
    --grey: invert(14%) sepia(37%) saturate(110%) hue-rotate(315deg) brightness(97%) contrast(82%);
} */

.socials-img {
    filter: var(--grey_socials);
    height: 7.2rem;
    width: 7.2rem;
    transition-duration: 0.25s;
}

.imgs-social{
    display: flex;
    gap: 4rem;
}

.socials-a:hover{
    .socials-img{
        filter: var(--orange_socials);
    } 
}

@media screen and (max-width: 56.25em) {
    .socials-img {
        height: 6.4rem;
        width: 6.4rem;
    }
}

@media screen and (max-width: 37.5em) {
    .socials-img {
        height: 5.4rem;
        width: 5.4rem;
    }
}

